 <!-- Portfolio Section -->
<section id="portfolio" class="bg-light py-5">
    <div class="container">
        <h2>Portfolio</h2>
        <!--   portfolio projects  -->
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <img src="img/web1.jpg" alt="" class="img-fluid">
                    <div class="p-3"> 
                        <h3>
                        Italian Food Site    
                        </h3>
                        <p>
                            As the developer and designer of this website, I aimed to create an 
                            immersive and appetizing experience for food enthusiasts and lovers of Italian cuisine.
                        </p>
                        </div>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-4 col-md-4">
                   <div class="card">
                    <img src="img/web3.jpg" alt="" class="img-fluid">
                    <div class="p-3"> 
                        <h3>
                        Burger House 
                        </h3>
                        <p>
                            As the developer and designer of this website,
                             I set out to create an engaging and hunger-inducing experience for burger lovers.
                        </p>
                        </div>
                </div>
            </div>  
                       
              
            <!--  -->
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <img src="img/veteran.jpg" alt="" class="img-fluid">
                    <div class="p-3">
                        <h3>
                        Veteran Website    
                        </h3>
                        <p>
                            As the developer and designer of this website,
                             my goal was to celebrate the bond between humans and their beloved animal companions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>